DROP TABLE IF EXISTS `accounts`;
CREATE TABLE `accounts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(500) DEFAULT NULL,
  `password` varchar(500) DEFAULT NULL,
  `email` varchar(500) DEFAULT NULL,
  `firstName` varchar(500) DEFAULT NULL,
  `lastName` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
)

INSERT INTO `accounts` VALUES (1,'omar','omar','info@omarshishani.com',NULL,NULL),(2,'test','test','oma','omar','shish');

DROP TABLE IF EXISTS `sleep_data`;
CREATE TABLE `sleep_data` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user` varchar(500) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `napStartTime` time DEFAULT NULL,
  `napEndTime` time DEFAULT NULL,
  `sleepAidItem` varchar(255) DEFAULT NULL,
  `sleepAidMg` int DEFAULT NULL,
  `enterBedTime` time DEFAULT NULL,
  `lightsOffTime` time DEFAULT NULL,
  `timeToFallAsleep` int DEFAULT NULL,
  `numberTimesArousal` int DEFAULT NULL,
  `arousalDuration` varchar(500) DEFAULT NULL,
  `morningWakeTime` time DEFAULT NULL,
  `exitBedTime` time DEFAULT NULL,
  `minutesEarlyWoke` int DEFAULT NULL,
  `qualityRating` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) 


