.add-data-form  .form-label {
  margin-top: 20px;
}
.add-data-form > * {
  display: block;
  text-align: left;
}
.add-data-form .existing-data {
  border: 1px solid green;
}
.add-data-form-example {
  font-style: italic;
}
.add-data-calendar-container {
  margin: auto;
  width: fit-content;
  padding: 30px 0;
}
.add-data-submit-button {
  margin: 20px 0 40px;
}