.add-data-container-night {
  h1, h2, label, input, .react-calendar button, .react-calendar abbr {
    color: white;
  }
  input, .react-calendar {
    background: #1f1f1f;
  }
  .react-calendar__month-view__days__day--neighboringMonth abbr {
    color: rgb(234, 0, 255) !important;
  }
  .react-calendar__month-view__days__day--weekend abbr {
    color: yellow !important;
  }
  input:focus {
    color: black;
    background: #9b9b9b;
  }
  .react-calendar button:hover, .react-calendar button:focus {
    background: #0e0e0e !important;
  }
  .react-calendar__tile--now {
    background: rgb(0, 119, 0);
  }
  .alert-success {
    color: #9bffb2;
    background-color: #001a06;
    border-color: #c3e6cb;
  }
  .alert-warning {
    color: #f4ff50;
    background-color: #4a3800;
    border-color: #ffeeba;
  }
  .alert-primary {
    color: #cce5ff;
    background-color: #004085;
    border-color: #b8daff;
  }
}
.add-data-container input {
  width: fit-content; 
}
.add-data-spacer-logged-out {
  margin-bottom: 100vh !important;
}
.add-data-component-wrapper-night {
  background-color: #0a0a0a;
}
.add-data-form  .form-label {
  margin-top: 20px;
}
.add-data-form > * {
  display: block;
  text-align: left;
}
.add-data-form .existing-data {
  border: 1px solid green;
}
.add-data-form-example {
  font-style: italic;
}
.add-data-calendar-container {
  margin: auto;
  width: fit-content;
  padding: 30px 0;
}
.add-data-submit-button {
  margin: 20px 0 40px;
}
.add-data-spinner-padding-for-night-mode {
  padding-bottom: 100vh
}