$nightModeTransitionTime: 0.5s;

body, html {
  height: 100%;
}
h2 {
  text-align: center;
}
.alert-bootstrap {
  margin: 20px 0;
}
.charts-heading {
  transition: color $nightModeTransitionTime; 
}
.enter-bed-charts-heading-night {
  color: rgb(145, 255, 209);
  transition: color $nightModeTransitionTime; 
}
.exit-bed-charts-heading-night {
  color: #ff9817;
  transition: color $nightModeTransitionTime; 
}
.enter-bed-charts-heading {
  color: #064112;
  transition: color $nightModeTransitionTime;
}
.exit-bed-charts-heading-day {
  color: #462710;
}
.quality-rating-charts-heading-day {
  color: #2a0077;
}
.quality-rating-charts-heading-night {
  color: #ff2ddc;
}
.victory-chart-1-container {
  display: inline-block;
  padding: 20px;
  // max-width: 500px;
  width: 100%;
}
#spinner-centered {
  display: block;
  margin: 100px auto;
}
$colWdthLg: 33.333%;
$colWdthMd: 50%;
.app-container-wrapper-night {
  height: 100vh;
  background-color: #0a0a0a;
  transition: background-color $nightModeTransitionTime;
}
.app-charts-container-wrapper {
  transition: background-color $nightModeTransitionTime; 
}
.app-charts-container-wrapper-night {
  background: rgb(10, 10, 10);
}
.app-charts-container {
  transition: background-color $nightModeTransitionTime;
  display: grid; 
  grid-template-columns: $colWdthLg $colWdthLg $colWdthLg;
  grid-template-rows: auto;
  grid-template-areas: 
    " ct1   ct2   ct3 "
    " ct4   ct5   ct6 "
    " ct7   ct8   ct9 "
    " .   ct10  . ";
  @media (max-width: 992px){
    grid-template-columns: $colWdthMd $colWdthMd;
    grid-template-areas: 
      " ct1   ct2 "
      " ct3   ct4 "
      " ct5   ct6 "
      " ct7   ct8 "
      " ct9   ct10";
  }
  @media (max-width: 768px){
    grid-template-columns: 100%;
    grid-template-areas: 
      " ct1 "  
      " ct2 "
      " ct3 " 
      " ct4 "
      " ct5 " 
      " ct6 "
      " ct7 " 
      " ct8 "
      " ct9 " 
      " ct10";
  }
}
$charts: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $chart in $charts {
  .ct#{$chart} {
    width: 100%;
  }
}
.app-range-input-container {
  margin: 20px 50px 0;
  label {
    margin-right: 10px; 
  }
}
.app-range-input-container-night {
  color: white; 
  transition: color $nightModeTransitionTime; 
}