$nightModeTransitionTime: 0.5s;

body, html {
  height: 100%;
  font-family: 'Open Sans' !important;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), url(./fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
h2 {
  text-align: center;
}
.app-sample-data-warning {
  transition: background-color $nightModeTransitionTime;
}
.alert-bootstrap {
  margin: 20px 0;
}
.charts-heading {
  transition: color $nightModeTransitionTime; 
}
.enter-bed-charts-heading-night {
  color: rgb(145, 255, 209);
  transition: color $nightModeTransitionTime; 
}
.exit-bed-charts-heading-night {
  color: #ff9817;
  transition: color $nightModeTransitionTime; 
}
.enter-bed-charts-heading {
  color: #064112;
  transition: color $nightModeTransitionTime;
}
.exit-bed-charts-heading-day {
  color: #462710;
}
.quality-rating-charts-heading-day {
  color: #2a0077;
}
.quality-rating-charts-heading-night {
  color: #ff2ddc;
}
.victory-chart-1-container {
  display: inline-block;
  padding: 20px;
  // max-width: 500px;
  width: 100%;
}
#spinner-centered {
  display: block;
  margin: 100px auto;
}
$colWdthLg: 33.333%;
$colWdthMd: 50%;
.app-container-wrapper-night {
  height: 100vh;
  background-color: #0a0a0a;
  transition: background-color $nightModeTransitionTime;
}
.app-charts-container-wrapper {
  transition: background-color $nightModeTransitionTime; 
}
.app-charts-container-wrapper-night {
  background: rgb(10, 10, 10);
}
.app-charts-container {
  transition: background-color $nightModeTransitionTime;
  display: grid; 
  grid-template-columns: $colWdthLg $colWdthLg $colWdthLg;
  grid-template-rows: auto;
  grid-template-areas: 
    " ct1   ct2   ct3 "
    " ct4   ct5   ct6 "
    " ct7   ct8   ct9 "
    " .   ct10  . ";
  @media (max-width: 992px){
    grid-template-columns: $colWdthMd $colWdthMd;
    grid-template-areas: 
      " ct1   ct2 "
      " ct3   ct4 "
      " ct5   ct6 "
      " ct7   ct8 "
      " ct9   ct10";
  }
  @media (max-width: 768px){
    grid-template-columns: 100%;
    grid-template-areas: 
      " ct1 "  
      " ct2 "
      " ct3 " 
      " ct4 "
      " ct5 " 
      " ct6 "
      " ct7 " 
      " ct8 "
      " ct9 " 
      " ct10";
  }
}
$charts: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@each $chart in $charts {
  .ct#{$chart} {
    width: 100%;
  }
}
.app-range-input-container {
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
  }
  margin: 20px 50px 0;
  label {
    margin-right: 10px; 
    margin-bottom: 0;
  }
  display: flex;
  align-items: center;
  @media(max-width: 992px){
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
    input {
      margin-bottom: 10px;
    }
  }
}
.app-range-input-container-night {
  color: white; 
  transition: color $nightModeTransitionTime; 
  input {
    color: white;
    background: #1f1f1f;
  }
  input:focus {
    color: rgb(255, 255, 255);
    background: #131313;
  }
}
.app-sample-data-title-container {
  background-color: transparent !important;
  h3 {
    background-color: transparent;
  }
  &:last-of-type {
    margin-bottom: 100px;
  }
}
.button-inline {
  margin-right: 10px;
}
.spacer {
  height: 100px;
}
.container-wrapper-night-mode {
  background: #0a0a0a;
}
.container-night-mode {
  background: #0a0a0a;
  h1, h2, h3, h4, h5, label, input, .react-calendar button, .react-calendar abbr {
    color: white;
  }
  input, .react-calendar {
    background: #161616;
  }
  input:focus {
    color: rgb(255, 255, 255);
    background: #0e0e0e;
  }
  .alert-success {
    color: #9bffb2;
    background-color: #001a06;
    border-color: #c3e6cb;
  }
  .alert-warning {
    color: #f4ff50;
    background-color: #4a3800;
    border-color: #ffeeba;
  }
  .alert-primary {
    color: #cce5ff;
    background-color: #004085;
    border-color: #b8daff;
  }
}