.create-account-success-container {
  h1 {
    text-align: center;
    margin: 30px 0;
  }
  h2 {
    text-align: center; 
    margin: 30px 0;
  }
  button {
    display: block;
    margin: auto;
  }
}
.create-account-form-container .submit-button-general {
  margin-top: 0px;
}