
.home-logged-out-container {
  h1 {
    text-align: center;
  }
}
.home-logged-out-section-1 {
  align-items: center;
  justify-content: center;  
  color: white;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  div {
    font-size: 30px;
    font-weight: 600;
  }
  div:first-of-type {
    padding-top: 20px;
  }
}
.home-logged-out-section-2 {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
  div {
    font-size: 30px;
    font-weight: 600;
  }
  div:first-of-type {
    padding-top: 20px;
  }
}
body{
  background-image: url(./landing-background-opt.svg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}